<form [formGroup]="contactForm">
    <div class="item">
        <label for="name">NAME</label>
        <input type="text" placeholder="Jiara Martins" id="name" name="Name" formControlName="Name">
        <div class="error-text"
            *ngIf="contactForm.controls['Name'].invalid && (contactForm.controls['Name'].dirty || contactForm.controls['Name'].touched)">
            <div *ngIf="contactForm.controls['Name'].errors?.['required']">Required</div>
        </div>
    </div>
    <div class="item">
        <label for="email">EMAIL</label>
        <input type="email" id="email" placeholder="hello@reallygreatsite.com" name="Email" formControlName="email">
        <div class="error-text"
            *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)">
            <div *ngIf="contactForm.controls['email'].errors?.['email']">Invalid Email</div>
            <div *ngIf="contactForm.controls['email'].errors?.['required']">Required</div>
        </div>
    </div>
    <div class="item">
        <label for="message">MESSAGE</label>
        <textarea name="Message" id="message" cols="30" rows="10" placeholder="Write your message here"
            formControlName="message"></textarea>
        <div class="error-text"
            *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
            <div *ngIf="contactForm.controls['message'].errors?.['required']">Required</div>
            <div *ngIf="contactForm.controls['message'].errors?.['minlength']">Length should be greater than 3</div>
        </div>
    </div>
    <button (click)="sendData()">Send the message</button>
</form>