  <div class="header">
      <div class="logo">
          <img src="assets/images/logo.jpg" alt="">
      </div>
      <div class="header-content">
          <div class="header-content-bg">
              <h1 class="header-content-text">Improve your skills on your own To
                  prepare for a better future</h1>
              <button class="header-button">REGISTER NOW</button>
          </div>
      </div>
  </div>
  <div class="main">
      <div class="main-content">
          <h1 class="header-content-text">Discover Our Courses</h1>
          <button class="header-button"> <a href="http://">View More</a></button>
      </div>
      <div class="cards">
          <div class="card">
              <img src="assets/images/image5.png">
              <h2 class="card-title">Spring Boot / Angular</h2>
              <p class="card-price">350 DT/ Month</p>
          </div>
          <div class="card">
              <img src="assets/images/image2.png">
              <h2 class="card-title">Node JS / React </h2>
              <p class="card-price">350 DT/ Month</p>
          </div>
          <div class="card">
              <img src="assets/images/image4.png">
              <h2 class="card-title">Flutter / Firebase</h2>
              <p class="card-price">350 DT/ Month</p>
          </div>
          <div class="card">
              <img src="assets/images/image1.png">
              <h2 class="card-title">Business Intelligence</h2>
              <p class="card-price">350 DT/ Month</p>
          </div>
          <div class="card">
              <img src="assets/images/image6.png">
              <h2 class="card-title">Intelligence Intelligence</h2>
              <p class="card-price">350 DT/ Month</p>
          </div>
          <div class="card">
              <img src="assets/images/image3.png">
              <h2 class="card-title">Devops</h2>
              <p class="card-price">350 DT/ Month</p>
          </div>
      </div>
  </div>
  <div class="contact">
      <h1 class="contact-title">Contact Us</h1>
      <form>
          <div class="item">
              <label for="name">NAME</label>
              <input type="text" placeholder="Jiara Martins" id="name">
          </div>
          <div class="item">
              <label for="email">EMAIL</label>
              <input type="text" id="email" placeholder="hello@reallygreatsite.com">
          </div>
          <div class="item">
              <label for="message">MESSAGE</label>
              <textarea name="message" id="message" cols="30" rows="10"
                  placeholder="Write your message here"></textarea>
              <button>Send the message</button>
      </form>
  </div>